<h1>Add new student</h1>
<%=flash[:success]%>
		<%= form_for(@student) do |f| %>
		<%= f.label :student %>
		<%=f.text_field :std_name %><br />
		<%= f.label :age %>
		<%=f.text_field :age %><br />
		<%= f.label :gender %>
		<%=f.text_field :gender %><br />
		<%= f.label :standard %>
		<%=f.text_field :standard %><br />
		<%= f.label :father_name %>
		<%=f.text_field :father_name %><br />
		<%= f.label :mother_name %>
		<%=f.text_field :mother_name %><br />
		<%= f.label :address %>
		<%=f.text_field :address %><br />
		
		<%= f.submit  "Add student" %>
<% end %>
